*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #204066;
}
.container{
    padding: 20px 10%;
}
.logo{
    background: url("../images/logo.png") no-repeat;
    background-size: cover;
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    display: flex;
    gap: 30px;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: transform 0.5s;
    display: inline-block;
}
.nav ul li a:hover{
    transform: translateY(-5px);
}
#selected{
    border-bottom: 1px solid white;
}
.main{
    height: 100vh;
    color: white;
}
.main__wrapper{
    display: flex;
    flex-direction: column;
}
.icon{
    display: flex;
    gap: 30px;
}
.icon span{
    font-weight: bold;
}
.btn{
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.5s;
    display: inline-block;
}
.btn:hover{
    transform: translateY(-5px);
}

.footer{
    background: #002451;
}
.footer__wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-social{
    display: flex;
    color: white;
    align-items: center;
}
.footer-social a{
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    align-items: center;
}
.footer-info p{
    color: white;
    font-weight: 500;
    font-size: 15px;
}
.footer-bottom p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(143, 143, 143);
}
